/* Start Globals */
* 
{
    box-sizing: border-box;
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
:root
{
    --main-color:#ff305b
}
html
{
    scroll-behavior: smooth;
}
body 
{
    color: #555555;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.global-heading
{
  font-size: 35px;
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  position: relative;
  text-transform: capitalize;
  color: #333;
  margin-top: 0;
  letter-spacing: 1px;
  font-family: Source Sans Pro;
}
.global-heading::before
{
  position: absolute;
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 70px;
}
.global-heading::before,
.global-heading::after
{
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.global-heading:after 
{
    background-color: #ff305b;
    bottom: 5px;
    height: 1px;
    width: 160px;
}

/* End Globals */
nav
{
    background-color: #333;
    height: 62px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 5;
}
nav > label 
{
    color: #fff;
    font-size: 22px;
    float: right;
    line-height: 59px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}
@media (max-width: 767px)
{
    nav > label
    {
        display: block;
    }
} 

nav .logo
{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
    display: inline-block;
}

nav ul
{
    float: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 6px;
}
.clear
{
    clear: both;
}
nav ul a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}
nav ul a:hover
{
    color: var(--main-color);
    transition: 0.5s;
}

@media (max-width: 767px)
{
    nav ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        position: absolute;
        height: auto;
        width: 100%;
        right: 0;
        display: none;
    }
} 

/* start slider */
.slider
{
    background-image: url(../images/slider-02.jpg);
    background-size: cover;
    height: 100vh;
}
.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.slider .intro-text
{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}
.slider .intro-text h3
{
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}
.slider .intro-text h1
{
    font-size: 70px;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    text-wrap: nowrap;
}
.slider .intro-text h4
{
    font-size: 26px;
    text-transform: capitalize;
    color: #fff;
}
@media (max-width: 767px)
{
    .slider .intro-text h3
    {
        font-size: 22px;
    }

   .slider .intro-text h1 
{
    font-size: 38px;
}
.slider .intro-text h4
{
    font-size: 18px;
}
}

/* end slider */
/* start about section */
.about
{
    padding: 100px 0 125px;
}
.about-box
{
    width: 31.33333%;
    margin-left: 8.33333%;
    position: relative;
    border: 7px solid #555;
    border-radius: 5px;
    height: 450px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-box .profile-photo
{
    position: relative;
    top: 100px;
    left: 10px;
}
.about-box img
{
    height: 450px;
    width: 360px;
    border-radius: 5px;
    position: relative;
    top: 15px;
}
.about-box .porfile-overly
{
    background: rgba(0, 0, 0, 0.57);
    position: absolute;
    bottom: -28px;
    height: 0;
    width: 100%;
    opacity: 0;
    left: 15px;
    width: 360px;
    border-radius: 5px;
    transition: 0.5s;
}

.about-box:hover .porfile-overly
{
    height: 450px;
    opacity: 1;
}

.about .porfile-overly ul
{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
}
.about .porfile-overly ul li
{
    display: inline-block;
    padding: 8px;
}
.about .porfile-overly ul li a
{
    text-decoration: none;
    color: #fff;
}
.about .porfile-overly ul li:hover a i
{
    transition: 0.5s;
    color: var(--main-color);
}
.info
{
    width: 58.333333%;
    padding-left: 70px;
}
.about-box,
.info
{
    float: left;
}
.info .profile-desc h2
{
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
    margin-top: 4px;
}
.info .profile-desc h2:after 
{
    background: var(--main-color);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.info .profile-desc > p 
{
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.profile-about ul
{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.profile-about ul li
{
    display: inline-block;
    float: left;
    width: 40%;
    margin-bottom: 20px;
}
.profile-about ul li span
{
    color: #333;
    font-weight: 500;
}
.profile-about ul li a
{
    color: #7e7e7e;
    text-decoration: none;
}
.download-cv-btn > a 
{
    text-decoration: none;
    background: var(--main-color);
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 24px;
    transition: all 0.3s ease-in-out;
}
/* end about section */

/* start services section */
.service-section 
{
    padding: 100px 0 54px;
    background: #f1f1f1;
    text-align: center;
}

.row
{
    padding:  0 15px 20px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    box-sizing: unset;
}
.single-service
{
    float: left;
    width: 25%;
}
.single-service-inner 
{
    padding: 40px 15px;
    transition: all 0.3s ease-in-out 0s;
}
.single-service i 
{
    color: var(--main-color);
    display: block;
    font-size: 36px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out 0s;
}
.single-service-inner > h3 
{
    font-size: 22px;
    font-weight: 560;
    margin-bottom: 15px;
}
.single-service-inner > p 
{
    margin: 0;
} 
.single-service:hover .single-service-inner i 
{
    transform: scale(1.2);
}
.single-service:hover .single-service-inner 
{
    background: #ffffff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
/* end services section */

/* start portfolio section */
.portfolio-section
{
    padding: 100px 0 70px;
}
.portfolio-section .row
{
    padding-bottom: 0;
}
.section-title
{
    text-align: center;
}
.portfolio-menu {
    margin-bottom: 50px;
    text-align: center;
  }
  .portfolio-menu button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
  }
  .portfolio-menu button:hover {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: var(--main-color);
    cursor: pointer;
  }
  .port
  {
    width: 380px;
    height: 290px;
    float: left;
    padding: 0 15px 15px 15px;
  }
  .portfolio a
  {
    position: relative;
  }
  .portfolio a:after {
    background: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.4s ease 0s;
  }
  .portfolio a:hover:after 
  {
    opacity: .5;
    visibility: visible;
  }
  .port .portfolio
  {
    max-width: 100%;
    max-height: 100%;
  }
  .port .portfolio img
  {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  .portfolio-view 
  {
    bottom: 15px;
    color: var(--main-color);
    font-size: 20px;
    position: absolute;
    right: 15px;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
  }
  .portfolio a:hover .portfolio-view
  {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
/* start portfolio section */

/* start fun-facts section */
.fun-facts
{
    background-color: RGB(241, 241, 241);
    padding: 100px 0;
    overflow: hidden;
}
.fun-fact
{
    float: left;
    width: 25%;
    text-align: center;
}
.fun-facts .row
{
    padding: 0;
}

.facts-icon i {
    color: var(--main-color);
    font-size: 25px;
    margin-bottom: 15px;
  }
  .single-counter h3 {
    font-size: 26px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .single-counter h5 {
    color: #555555;
    font-size: 16px;
    margin: 0;
  }
/* start fun-facts section */

/* start testimonials section */
.testimonel
{
    padding: 100px 0;
}
.testimonel-item {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 5px;
    overflow: hidden;
    padding: 40px;
    position: absolute;
    width: 750px;
    margin: auto;
    transition: all .3s ease;
  }
  .testimonel-item:after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    top: -165px;
    left: -170px;
    background-color: var(--main-color);
    transform: rotate(45deg);
    z-index: 1;
  }
  .face
  {
    position: absolute;
    width: 20%;
    margin: 12px 0;
    float: left;
    z-index: 2;
  }
  .testimonel-img 
  {
    background-image: url(../images/face.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 0;
  }
  .test-item2 .testimonel-img
  {
    background-image: url(../images/face2.jpg);
  }
  .testimonel-cont
  {
    width: 100%;
    margin: 0;
    float: left;
    padding-left: 140px;
  }
.testimonel-item h3 
  {
    margin-top: 0;
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 450;
  }
.testimonel-item h4
{
    margin: 0 0 10px;
}
.testimonel-cont a 
{
    color: #777777;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .7px;
}
.testimonel-cont > p 
{
    font-style: italic;
    margin-top: 0;
}
.review-reating 
{
    color: #f1c30d;
    margin-bottom: 12px;
}
.dots
{
    text-align: center;
    margin: 0;
    padding: 0;
}

/* end testimonials section */

/* start test-slider section */
.test-slider
{
    width: 66%;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 305px;
}
.test-slider .items input
{
    display: none;
}
.test-slider .dots
{
    margin-top: 285px;
    text-align: center;
}
.test-slider .dots label
{
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ff305b;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 3px;
}
.test-slider .dots label:hover
{
    background: var(--main-color);
    border-radius: 10px;
    padding: 5px 12px;
    display: inline-block;
}
.test-item1
{
    margin-left: -100%;
}
.test-item2
{
    margin-left: 100%;
}
#item1:checked ~ .test-item1
{
    margin-left: 0;
}
#item2:checked ~ .test-item2
{
    margin-left: 0;
}
/* end test-slider section */

/* start blog section */
.blog-area
{
    background-color: #f1f1f1;
    padding: 100px 0 70px;
}
.single-blog
{
    width: 33.333333%;
    float: left;
    padding: 0 15px;
}
.single-blog .post-thumbnail
{
    height: 202px;
}
.single-blog .post-thumbnail a.first
{
    display: inline-block;
    background-image: url(../images/blog1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.single-blog .post-thumbnail a.second
{
    display: inline-block;
    background-image: url(../images/blog2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
iframe
{
    width: 100%;
    height: 100%;
}
.post-content 
{
    padding: 20px;
    background: #ffffff;
}
.post-content .post-meta
{
    margin: 0 0 10px;
}
.post-content h3
{
    margin: 0 0 15px;
}
.post-content h3 a
{
    text-decoration: none;
    color: #333;
    font-size: 24px;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}
.post-content h3 a:hover
{
    color: var(--main-color);
}
.post-read
{
    width: 110px;
}
.post-read:hover a
{
    color: var(--main-color);
}
.post-read:hover a i
{
    color: var(--main-color);
}
.post-read a
{
    text-decoration: none;
    color: #333;
    transition: all .3s ease-in-out;
}
.post-read a i
{
    color: #333;
    transition: all .3s ease-in-out;

}
/* end blog section */

/* start contact section */
.contact
{
    padding: 100px 0;
}
.form-group input
{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #999999;
}

.contact-form
{
    width: 780px;
    height: 378px;
    margin: auto;
}
.contact .form-group 
{
    width: 50%;
    height: 70px;
    padding: 0 15px;
    float: left;
}

.form-control:focus
{
    box-shadow: none;
    color: #000000;
    outline: 0 none;
    border-color: var(--main-color);
    border-width: 1px;
}
.contact .row .subject
{
    width: 100%;
}
.contact .row .message
{
    width: 100%;
}
.contact .row .message textarea
{
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #999999;
    height: 100px;
}
.contact-form .btn 
{
    background-color: var(--main-color);
    border: 2px solid #EC2403;
    color: #ffffff;
    opacity: 1;
    padding: 0 20px ;
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    width: 21%;
  }
  .contact-form .btn:hover 
  {
    background-color: #EC2403;
    border-color: var(--main-color);
    color: #ffffff;
    cursor: not-allowed;
  }
/* end contact section */

/* end footer section */
.footer
{
    background: #333333;
    padding: 50px 0;
    text-align: center;
}
.copy-right 
{
    color: #ffffff;
    margin: 0;
}
.copy-right a
{
    color: #ff305b;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.copy-right a:hover
{
    text-decoration: underline;
}
.footer .footer-social-icon ul
{
    margin: 0;
}
.footer-social-icon li 
{
    display: inline-block;
}
.footer-social-icon li a 
{
    color: #ffffff;
    display: block;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}
.footer-social-icon li a:hover 
{
    color: #ff305b;
}

/* end footer section */